.location{
    margin: 3rem 7rem;
    
    @media (max-width:1200px){
        text-align: center;
    }
    @media (max-width:900px){
        margin: 3rem 2rem;
    }
    @media (max-width:750px){
        margin: 0;
    }

}
.location__items{
    display: grid;
    grid-template-columns: 60% 50%;
    grid-template-rows: 1;
    margin: 2rem 3rem;
    @media (max-width:1200px){
        @include responsive;
         margin: 5rem 3rem;
    }
    @media (max-width:750px){
        margin: 3rem auto;
    }
}
.location__item{
    background-color: #fdf3f0;
    background-image: url(../../assets/pages/location/bg-pattern-two-circles.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 3rem 0rem 0rem 5rem;
    margin-top: .7rem;
    border-radius: 1rem;
    overflow: hidden;
    height: 42vh;
    @media (max-width:1200px){
        text-align: left;
    }
    @media (max-width:750px){
        
        text-align: center;
        grid-row: 1;
        height: auto;
        border-radius: 0;
        padding: 4rem 0;
    }
    h1{
        color: $peach;
        font-size: 2.7rem;
        letter-spacing: .2rem;
        margin-bottom: 0;
        @media (max-width:750px){
            font-size: 2rem;
            width: 70%; 
            margin: auto;
        }
        @media (max-width: 400px){
            width: 100%;
        }
    }
   
 
}
.country__contant{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    @media (max-width:750px){
        @include responsive;
        margin: 0 auto ;
        width: 70%;
    }
    @media (max-width:400px){
        width: 100%;
    }
    h4{
        font-weight: 800;
       margin-bottom: .4rem;
    }
    p{
        margin-top: .2rem;
        margin-bottom: .2rem;
    }
}
.location__map {
    width: 70%;
    margin: .5rem 2rem 0 ;
    @include background($image:url(../../assets/pages/location/image-map-canada.png), $size: cover);
    border-radius: 2rem;
    object-fit: cover;
    @media (max-width:1200px){
        background-image: url(../../assets/pages/location/image-map-canadatba.png);
        margin:1rem auto ;
        width: 100%;
        grid-row: 1;
    }
    @media (max-width:750px){
        margin:0;
        border-radius: 0;
        grid-row: 2;
    }
    @media (max-width:400px){
        background-image: url(../../assets/pages/location/image-map-canada.png);
       
    }
    
    
}

/************/


.location__items__au{
    display: grid;
    grid-template-columns: 40% 58%;
    margin: 2rem 3rem;
    @media (max-width:1200px){
         @include responsive;
             margin: 5rem 3rem;
        
        }
        @media (max-width:750px){
    margin: 3rem auto;

}
    .location__map__au{
        @extend .location__map;
        width: 90%;
        margin: .5rem 0 ;
        background-image: url(../../assets/pages/location/image-map-australia.png);
        @media (max-width:1200px){
            background-image: url(../../assets/pages/location/image-map-australiatb.png);
            margin:1rem auto ;
            width: 100%;
            grid-row: 2;
        }
        @media (max-width:750px){
            margin:0;
            border-radius: 0;
        }
        @media (max-width:400px){
            background-image: url(../../assets/pages/location/image-map-australia.png);
           
        }
        
    }
    .location__item__au{
        @extend .location__item;
      
        @media (max-width:1200px){
           
            grid-row: 1;
        }
        
    }
    .country__contant__au{
        @extend .country__contant;
    }
}


/*******/
.location__items__king{
    @extend .location__items;
    .location__item__king{
        @extend .location__item;
    }
    .country__contant__king{
        @extend .country__contant;
    }
    .location__map__king{
        @extend .location__map;
        background-image: url(../../assets/pages/location/image-map-united-kingdom.png);
        @media (max-width:1200px){
            background-image: url(../../assets/pages/location/image-map-uk.png);

        }
        @media (max-width:400px){
            background-image: url(../../assets/pages/location/image-map-united-kingdom.png);
           
        }
    }
}
