.about{
    display:grid;
    margin: 3rem 8rem ;
    grid-template-columns: 60% 30%;
    background-color: $peach;
    border-radius: 1rem;
    overflow: hidden;
    height: 30rem;
    @media (max-width:900px){
        margin: 3rem 6rem ;
        grid-template-columns: auto ;
        grid-template-rows: repeat(2, 1fr);
        height: auto;
    }
    .about-us{
        padding: 6rem 6rem ;
        color:$peach-bg;
        background-image: url('../../assets/pages/ourcompany/bg-pattern-hero-about-desktop.svg');
        background-repeat: no-repeat;
        @media (max-width:1200px){
            padding: 4rem ;
        }
        //  @media (max-width:900px){
        //     padding: 2rem ;
        //     grid-row: 2 ;
        // }
    }
    h1{
        font-size: 3rem;
        font-weight: 500 ;
    }
    .about-img{
        @media (max-width:900px){
            width: 100%;
            text-align: center;
            grid-row: 1 ;
     } 
    }
}