.about{
    display:grid;
    margin: 3rem 8rem ;
    grid-template-columns: 60% 40%;
    background-color: $peach;
    border-radius: 1rem;
    overflow: hidden;
    height: 30rem;
    @media (max-width:1200px){
             margin: 3rem 4rem ;
        }
    @media (max-width:900px){
        grid-template-columns: auto ;
        grid-template-rows: repeat(2, 1fr);
        height: auto;
    }
    @media (max-width: 700px) {
        margin: 3rem 0 ;
        border-radius: 0;
    }
    .about-us{
        padding: 6rem;
        color:$peach-bg;
        background-image: url('../../assets/pages/ourcompany/bg-pattern-hero-about-desktop.svg');
        background-repeat: no-repeat;
        line-height: 1.8rem ;
        @media (max-width:1200px){
            padding: 3rem ;
        }
         @media (max-width:900px){
            text-align: center;
        }
          @media (max-width:700px){
            padding: 1rem ;
        }
    }
    h1{
        font-size: 3rem;
        font-weight: 500 ;
        margin-bottom: 3rem;
    }
    .about-img{
        background-image: url(../../assets/pages/ourcompany/image-about-hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        background-position: center;
        @media (max-width:900px){
            width: 100%;
            
            background-image: url(../../assets/pages/ourcompany/image-about-heroo.jpg);
            text-align: center;
            grid-row: 1 ;
     } 
    }
}