.home{
    background-color: $peach;
    display: grid;
    grid-template-columns: 45% 50%;
    grid-template-rows: 40rem;
    // width: 100%;
    background-size: 50%;
    border-radius: .8rem;
    margin: 3rem 1.5rem ;
    overflow: hidden;
    background-image: url('../../assets/Home/bg-pattern-hero-home.svg');
    background-repeat: no-repeat;
    background-position-x: right;
     @media (max-width: 800px) {
        grid-template-columns: auto;
    }
}
.home-title{
    
    margin: 9rem 0 0 3.5rem;
    color: $peach-bg;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    width: 100%;
     @media (max-width: 800px) {
        text-align: center;
        margin: auto;
        width: 70%;
    }
    h1{
        font-size: 2.8rem;
        margin-bottom: 3rem;
        @media (max-width: 800px) {
        
    }
    }
    p{
        line-height: 1.5rem;
        font-size: 0.9rem;
    }
}
.img-mobile{
    overflow: hidden;
    margin: -3rem;
    width:auto;
    img{
        width: auto;
        
    }
}