.main{
    display: grid;
    height: 40rem;
    margin: 5rem 1.5rem ;
    padding: 3rem 3rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.25rem;
    overflow: hidden;
    @media (max-width: 900px) {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr);
    }
    @media (max-width: 600px) {
        margin: 5rem 1.5rem;
        padding: 3rem 0;
    }
}
.web{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    color: $white;
    cursor: pointer;
    text-align: center;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    h1{
        letter-spacing: .2rem;
    }
    p{
        letter-spacing: .3rem;
         @media (max-width: 600px) {
             letter-spacing: .1rem;
         }
    }
}
.web-design{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    &:hover{
        background:rgba(231,129,107, 0.7);
        transition: 0.2s ease-in-out;
    }
}


.main-web{
    @extend .web;
    background: url(../../assets/Home/image-web-design-large.jpg);
    grid-row: 1 / 3 ;
     @media (max-width: 900px) {
        grid-row: 1;
        grid-row-start: span 1;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center;
      }
    h1{
        margin-top:13rem;
        margin-bottom: 1.5rem;
        @media (max-width: 900px) {
            margin-top:2rem;
            margin-bottom: 1rem;
        }
        @media (max-width: 600px) {
        font-size: 2rem;
    }
    }


}


.main-app{
    @extend .web;
    background-image: url(../../assets/Home/image-app-design.jpg);
    grid-row: 1;
    grid-column: 2;
      @media (max-width: 900px) {
        grid-row: 2;
        grid-column: 1;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center;
      }
}
.app-design{
        @extend .web-design;
        h1{
            margin-top: 5rem;
            margin-bottom: 1rem;
            @media (max-width: 900px){
                margin-top:2.5rem;
            }
             @media (max-width: 600px){
                 font-size: 2rem;
             }
        }
         p{
        letter-spacing: .2rem;
    }

     }
 
 


.main-graphic{
    @extend .web;
    background-image: url(../../assets/Home/image-graphic-design.jpg);
    grid-row: 2;
    grid-column: 2;
    .graphic-design{
        @extend .app-design;
        
    }
     @media (max-width: 900px) {
        grid-row: 3;
        grid-column: 1;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center;
      }
}
.arrow-icon{
    color: $peach;
}