.peopleContact{
    display: grid;
    padding: 0 4rem;
    // height: 50rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    grid-column-gap: 5rem;
    justify-content: center;
     @media (max-width:1200px){
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr);
    }
     @media (max-width:650px){
         padding : 1rem;
     }
    // background-image: url(../../assets/Home/bg-pattern-leaf.svg);
    
}

.passionate{
    text-align: center;
    overflow: hidden;
    @media (max-width:1200px){
        text-align:left;
    }
    @media (max-width:650px){
        text-align:center;
    }
    img{
        @media (max-width:1200px){
        float: left;
        margin:1rem 2rem;
        @media (max-width:650px){
        float: none;
        margin: auto;
    }
    }
    }
    h3{
        @media (max-width:1200px){
            margin-top: 3.5rem;
        }   
        letter-spacing: .3rem;
    }
    p{
        font-weight: 400;
        font-size: 1rem;
    }
}

.resourceful{
    @extend .passionate;
}

.friendly{
    @extend .passionate;
}