 
 
 .header{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.logo{
    margin: 15px 0;
}


.header-links{
    display:flex;
    text-align:center;
    overflow: hidden;
    @media (max-width: 600px) {
        display: none;
    }

    li{
        margin: 0 1rem ;
        text-align:center;
        list-style: none;
        font-weight: 400;
        font-size: 1.1rem;
        &:hover{
            border-bottom: 1px solid transparent;
            transition-duration: 1s;
        }
}

}

.header-burger {
    @media (min-width: 600px) {
        display: none;
    }
}
.humburger{
    position: absolute;
    right: 5%;
    cursor: pointer;
}