 
 
 .header{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.logo{
    margin: 15px;
}
.header-links{
    display:flex;
    text-align:center;

li{
    margin: 0 1rem;
    text-align:center;
    list-style: none;
    font-weight: 400;
    font-size: 1.1rem;
    &:hover{
        border-bottom: 1px solid transparent;
        transition-duration: 1s;
    }
}

}
 