 
 .header{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.logo{
    margin: 15px 0;
    left: 0%;
    
     @media (max-width: 700px) {
        margin: 0 15px 0 0 ;
    }
     @media (max-width: 450px) {
        margin: 0;
        top:0%;
    }
    img{
        height: 30px;
        left: 0%;
        @media (max-width: 600px) {
        
        height: 25px;
    }
    @media (max-width: 350px) {
        
        height: 20px;
    }
    }

}


.header-links{
    display:flex;
    text-align:center;
    overflow: hidden;
    @media (max-width: 700px) {
        display: none;
    }

    li{
        margin: 0 1rem ;
        text-align:center;
        list-style: none;
        font-weight: 400;
        font-size: 1.1rem;
        &:hover{
            border-bottom: 1px solid transparent;
            transition-duration: 1s;
        }
}

}

.header-burger {
    @media (min-width: 700px) {
        display: none;
        
    }
     @media (max-width: 700px) {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100%;
        left: 0;
        
    }
    .header-links-burger{
        text-decoration: none;
        list-style: none;
        text-align:left;
        background-color: $black;
        margin: 5rem 0;
        width: 100% ;
        overflow: hidden;
        left: 0;
        color: $white;
    }
    li{
         text-decoration: none;
         width: 100% !important;
         padding: 1rem;
    }
}
.humburger{
    position: fixed;
    padding: 0 .5rem;
    top:5%;
    right: 8%;
    margin: 0 .5rem ;
    cursor: pointer;
     @media (max-width: 600px) {
        top:3%;
        right: 0%;
        
    }
}