@mixin background($image ,$size) {
   background-image: $image;
   background-size: $size;
   background-repeat: no-repeat;
}


 

@mixin intialStart() {
    display:grid;
    margin: 3rem 8rem ;
    border-radius: 1rem;
    overflow: hidden;
     @media (max-width:1200px){
            margin: 3rem 4rem ;
       }
}
@mixin responsive() {
   grid-template-columns: auto ;
   grid-template-rows: repeat(2, 1fr);
   height: auto;
  }
@mixin margin() {
   border-radius: 0;
   margin:  0;
  }